<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>This site was create by {{name}}. It uses data from pabox.com</p>
        <img class='portret' src="/img/nja.jpg">
    </div>

     {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>