<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <title>Weather</title>
    <link rel='icon' href='/img/weather.png'>
    <div class='main-content'>
         {{>header}}
         <p>use this site to get your weather</p>

         <form>
             <input placeholder="type your location">
             <button>Search</button>
         </form>

         <p id='message-1'></p>
         <p id='message-2'></p>
    </div>    
     {{>footer}}
        <script src="/js/app.js"></script>
</body>

</html>